.skeleton-details-header {
  width: 40%;
  height: 32px;
}

.skeleton-details-header-wrapper {
  padding: 8px 0;
  margin: 24px 24px;
  border-bottom: solid 1px rgb(235,235,235);
}

.skeleton-details-content > .skeleton-bar-wrapper > .skeleton-details-short {
  width: 32%;
}


.skeleton-details-content > .skeleton-bar-wrapper > .skeleton-details-button {
  margin-top: 252px;
  width: 80px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 32px;
}
