.skeleton-details-header {
  margin: 28px 24px;
  width: 40%;
  height: 24px;
}

.skeleton-details-content > .skeleton-bar-wrapper > .skeleton-details-short {
  width: 32%;
}


.skeleton-details-content > .skeleton-bar-wrapper > .skeleton-details-button {
  margin-top: 192px;
  width: 80px;
  height: 32px;
}
