.skeleton-tree-content > .second-level {
    padding-left: 32px;
    width: calc(100% - 80px );

  &:nth-of-type(3n+1) {
    width: calc(80% - 80px );
  }

  &:nth-of-type(3n+2) {
    width: calc(70% - 80px );
  }
}

.skeleton-tree-content > .third-level {
    padding-left: 64px;
    width: calc(100% - 112px );

  &:nth-of-type(3n+1) {
    width: calc(80% - 112px );
  }

  &:nth-of-type(3n+2) {
    width: calc(95% - 112px );
  }

}
