.skeleton-tree-content > .second-level {
    padding-left: 40px;
    width: calc(100% - 88px );

  &:nth-of-type(3n+1) {
    width: calc(80% - 88px );
  }

  &:nth-of-type(3n+2) {
    width: calc(70% - 88px );
  }
}

.skeleton-tree-content > .third-level {
    padding-left: 80px;
    width: calc(100% - 128px );

  &:nth-of-type(3n+1) {
    width: calc(80% - 128px );
  }

  &:nth-of-type(3n+2) {
    width: calc(95% - 128px );
  }

}
