
.skeleton-list {
  &:nth-of-type(4n+1) {
    width: calc(100% - 48px);
  }

  &:nth-of-type(4n+2){
    width: calc(85% - 48px);
  }

  &:nth-of-type(4n+3){
    width: calc(75% - 48px);
  }

  &:nth-of-type(4n+4){
    width: calc(55% - 48px);
  }
}

.skeleton-list > .skeleton-list-item {
  width: calc(100% - 32px);
  height: 16px;
  display: inline;
  margin-left: 16px;
}

.skeleton-list > .skeleton-list-icon {
  width: 16px;
}
