<div [id]="'skeleton-list-wrapper'">
  <div [className]="'skeleton-list-toolbar'">
    <div [id]="'skeleton-toolbar'">
      <div *ngFor="let elem of repeatToolbarItems" [className]="'skeleton-toolbar-item-wrapper'">
        <img [className]="'skeleton-toolbar-item'" src="../assets/skel-bar-2.gif"/>
      </div>
    </div>
  </div>
  <div [className]="'skeleton-list-content skeleton-wrapper-border'">
    <div *ngFor="let elem of repeatSkeletonBars" [className]="'skeleton-bar-wrapper skeleton-list'">
      <img [className]="'skeleton-bar skeleton-list-icon'" src="../assets/skel-bar-2.gif"/>
      <img [className]="'skeleton-bar skeleton-list-item'" src="../assets/skel-bar-2.gif"/>
    </div>
  </div>
</div>
