// Skeleton bar
$skeleton-bar__height: 16px;
$skeleton-bar__margin-vertical: 32px;
$skeleton-bar__margin-horizontal: 24px;

// Skeleton Toolbar
$skeleton-toolbar__height: 16px;
$skeleton-toolbar__width: $skeleton-toolbar__height;
$skeleton-toolbar__margin-horizontal: 8px;

#skeletons {
  width: calc(100vw - 64px);
  padding: 0 32px 16px 32px;
}

.skeleton-wrapper-border {
  border-right: solid 1px rgb(225,225,225);
}

.skeleton-bar-wrapper {
  margin: 0  $skeleton-bar__margin-horizontal  $skeleton-bar__margin-vertical $skeleton-bar__margin-horizontal;
}

.skeleton-bar {
  width: 100%;
  height: $skeleton-bar__height;
}

.skeleton-toolbar-item {
  height: $skeleton-toolbar__height;
  width: $skeleton-toolbar__width;
}

.skeleton-toolbar-item-wrapper {
  display: inline-block;
  margin: $skeleton-bar__margin-vertical $skeleton-toolbar__margin-horizontal;

  &:first-child {
    margin-left: $skeleton-bar__margin-horizontal;
  }
}

#skeleton-toolbar {
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    background: rgba(170,170,170, 0.2);
  }
  50% {
    background: rgba(170,170,170, 0.45);
  }
  100% {
    background: rgba(170,170,170, 0.2);
  }
}

@keyframes shine2 {
  0% {
    background-position: -100px
  }
  60%, 100% {
    background-position: 340px
  }
}
