
// Skeleton bar
$skeleton-bar__height: 16px;
$skeleton-bar__margin-vertical: 16px;
$skeleton-bar__margin-horizontal: 24px;

#skeletons {
  width: 100%;
  padding: 16px 32px;
}

.skeleton-bar-wrapper {
  margin: 0  $skeleton-bar__margin-vertical $skeleton-bar__margin-horizontal  $skeleton-bar__margin-vertical;
}

.skeleton-bar {
  width: 100%;
  height: $skeleton-bar__height;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
