.skeleton-bar-wrapper {
  margin: 10px;
}

.skeleton-bar {
  width: 400px;
  height: 32px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
