<div #mainContent>
  <div #skeletons  id="skeletons">
    <!--app-skeleton-screen
      [numberOfListEntries]="24"
      [numberOfListColumns]="4"
      [numberOfToolbarItems]="3"
      [showListIcon]=false
      [showHeader]=true
      [textLength]="'even'"
      [toolbarOrientation]="'left'"
      [showToolbar]=true
      [showExtraHeaderSpace]=false
      [skeletonStyle]="'pulse'"
    >
    </app-skeleton-screen-->

    <div *ngFor="let elem of repeatArray" [className]="'skeleton-bar-wrapper'">
      <img [className]="'skeleton-bar'" src="../assets/skel-bar-2.gif"/>
    </div>
  </div>
</div>

